.wrapper {
  position: relative;
  margin: 20% auto;
}

svg {
  position: absolute;
  border-radius: 50%;
  background-color: #d0d2cf;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 600px;
  height: 200px;

  background: #3e5296;
}

.path_line {
  animation-timing-function: linear;
  animation-fill-mode: backwards;
  animation-name: line;
}
svg:hover .path_line {
  /* animation-play-state: paused; */
  animation-name: none;
}

@keyframes line {
  100% {
    fill: red;
    stroke-dashoffset: 0;
  }
}
